In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('Housing.csv')
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [4]:
df.shape

(545, 13)

In [5]:
df.isnull().sum()

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

In [6]:
df.dtypes

price                int64
area                 int64
bedrooms             int64
bathrooms            int64
stories              int64
mainroad            object
guestroom           object
basement            object
hotwaterheating     object
airconditioning     object
parking              int64
prefarea            object
furnishingstatus    object
dtype: object

In [7]:
cat_cols = [i for i in df.columns if df[i].dtypes == 'object']
cat_cols

['mainroad',
 'guestroom',
 'basement',
 'hotwaterheating',
 'airconditioning',
 'prefarea',
 'furnishingstatus']

In [8]:
df['mainroad'].value_counts()

yes    468
no      77
Name: mainroad, dtype: int64

In [9]:
df['guestroom'].value_counts()

no     448
yes     97
Name: guestroom, dtype: int64

In [10]:
df['basement'].value_counts()

no     354
yes    191
Name: basement, dtype: int64

In [11]:
df['hotwaterheating'].value_counts()

no     520
yes     25
Name: hotwaterheating, dtype: int64

In [12]:
df['airconditioning'].value_counts()

no     373
yes    172
Name: airconditioning, dtype: int64

In [13]:
df['prefarea'].value_counts()

no     417
yes    128
Name: prefarea, dtype: int64

In [14]:
df['furnishingstatus'].value_counts()

semi-furnished    227
unfurnished       178
furnished         140
Name: furnishingstatus, dtype: int64

In [15]:
from sklearn.preprocessing import LabelEncoder

In [16]:
lb = LabelEncoder()
for i in cat_cols:
    df[i] = lb.fit_transform(df[i])

In [17]:
df.dtypes

price               int64
area                int64
bedrooms            int64
bathrooms           int64
stories             int64
mainroad            int64
guestroom           int64
basement            int64
hotwaterheating     int64
airconditioning     int64
parking             int64
prefarea            int64
furnishingstatus    int64
dtype: object

In [18]:
x = df.drop('price',axis=1)
y = df['price']
print(type(x))
print(type(y))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [19]:
print(x.shape)
print(y.shape)

(545, 12)
(545,)

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.25)    # 0.25 * 768 = 192 is size of test data
print(x_train.shape)                                                       # 0.75 * 768 = 576 is remaining
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(408, 12)
(137, 12)
(408,)
(137,)

### Linear Regression

In [22]:
from sklearn.linear_model import LinearRegression

In [23]:
m1 = LinearRegression()
m1.fit(x_train,y_train)

LinearRegression()

In [24]:
# r2 score
print('Training Score = ', m1.score(x_train,y_train))
print('Testing Score = ', m1.score(x_test,y_test))

Training Score =  0.6781699210847858
Testing Score =  0.6733122180078518

In [25]:
ypred_m1 = m1.predict(x_test)
print(ypred_m1)

[5748656.22609542 2763763.38381287 3272146.10088056 2869457.13213083
 2023946.52152817 3689513.45678791 3525166.31223735 4274668.44068941
 2879490.43174441 4545519.0944414  8424333.38043839 2944606.3884837
 5939112.77283226 3266349.64722866 3993376.21542423 4931980.58063306
 5520142.45004145 3497082.40527529 3923434.00625393 2590411.23236168
 4707787.45235149 7306006.37137935 2053296.25662724 2949196.71414407
 6530289.58453373 4859515.53996855 3390136.73029529 3444769.18647656
 7734010.8657278  2857976.50960156 5810463.7126437  6563238.97352341
 3554383.81191581 4769374.15958838 6178796.2718106  4986219.44569092
 4038486.85229372 8329716.16503832 7264004.09900255 2940412.99466667
 3653298.83392255 4464259.2800164  2676616.24245833 7595283.06108469
 6133022.34687136 4450945.5731006  3992782.05560223 6547993.10307988
 5419769.51449273 2715370.03399753 4737793.31364401 5324265.53701374
 9164570.99019442 4390081.98635479 5130281.39025186 6924872.54137891
 3091469.96476897 7022887.4393633  3225022.28184747 2773184.69639174
 4274701.53297967 2837137.95841896 5744233.63663217 2645996.976577
 8046369.65195336 6051784.6486961  6196297.34223753 3555156.10701211
 2989874.88570573 3409478.93766485 3736888.51009728 6429400.4205256
 4975272.84559783 6603803.57119366 6697612.90580257 2807060.65900878
 3986854.0618814  7526209.12509359 4635987.15072243 6520411.94492355
 3621418.79733036 4545002.13604248 3834726.49481294 5241059.70137272
 4803335.65957805 5199653.40006787 3313456.210123   6506893.72045206
 5024647.10504581 7629106.89657799 5968355.8107747  4879826.34979753
 6768537.12927003 4721827.5545099  5400381.7845958  2507420.72887601
 7152190.93930141 4940304.51821336 4432429.1170286  6274249.73971793
 2673648.92727889 4057452.17768835 5684472.90166814 4758717.82931753
 4603996.92908327 6972839.61667595 4469118.31261795 4917294.25225746
 3643019.58603214 6503293.58051072 3580880.67911073 8253380.02445536
 5552177.79310242 5229826.89154045 4703297.40036108 4018891.23485708
 5640631.85363149 4711161.89309368 4333318.62121224 4445627.01104838
 3078607.52668292 2062717.56920611 6664069.28149073 3185430.5056428
 4475629.07862195 3425245.63895063 3759245.16715536 5143923.52794929
 4188859.69136438 8451204.94116809 3827952.51875149 3774282.83560907
 3980689.44603825 2654716.90198549 3195420.37197693 4937183.99485088
 2200596.13238197]

In [26]:
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [27]:
print('MSE = ',mean_squared_error(y_test,ypred_m1))
print('RMSE = ',np.sqrt(mean_squared_error(y_test,ypred_m1)))
print('MAE = ',mean_absolute_error(y_test,ypred_m1))
print('r2_Score = ',r2_score(y_test,ypred_m1))

MSE =  1113860851985.6377
RMSE =  1055396.064037401
MAE =  803938.0233297051
r2_Score =  0.6733122180078518